[2017-06-24 23:23] impredicative opened #2 "[request] URLExtract.has_url"
Thanks for the package. I was very happy to find it. For runtime efficiency, I would like to request a `has_url(text)` method. The point is that in this use case, I only need to know if there is at least one URL in the input string, and so I want a boolean value returned. I am currently using `find_urls(text)` and this works, but this is obviously less efficient in the case of a large input string

[2017-06-26 15:37] lipoja commented on #2
Thank you for using this package. I will try add this feature: detect if the text contains at least one URL as fast as possible. I would like to ask you if you could test it before it goes to master branch. I will tell you when the code is ready. Thank you.

[2017-06-29 13:12] lipoja commented on #2
Could you please check ``devel`` branch. There is implemented ``has_urls(text)`` method. I've test it and it works for me, but I would be glad if you could test it on your data too.

Is speed necessary for you? I am thinking about speeding up few things by rewriting it to Cython.
Thank you.

[2017-07-02 05:06] impredicative commented on #2
Speed is not that necessary for me at this time. Thank you for the great offer, however. I actually recommend against rewriting it in Cython if there isn't a strong need, as it may become more difficult to maintain.

I'm quite concerned about the use of `self._break_after_first`. This will break threaded code, and I therefore recommend against it. In fact, if there is any other use of similar inst

[2017-07-02 11:51] lipoja commented on #2
OK. I will change ``find_urls`` back and maybe duplicate the code.

Your use case is that you have one object in main thread and then you are calling ``find_urls`` form another threads?

I will think about this use case and try to write it thread safe.
Thank you for your comments, I really appreciate it.

[2017-07-02 15:28] impredicative commented on #2
In general, I think it helps to keep the code relatively thread safe, especially when this can be automatically made possible.

Hypothetically, instead of using `self._break_after_first`, the signature of the `find_urls` method can be modified to include an optional parameter with a default value, i.e. `break_after_first=False`, and this too would address the issue. (I'm not requesting this; I'm j

[2017-07-02 22:34] lipoja commented on #2
Thank you, good ideas.
I've created ``gen_urls()`` which returns generator (iterator) over URLs as you suggested. It might cover your needs and looks like better solution than original ``has_urls()`` (which I removed because it seams to be not necessary).

Please check, the devel branch again.

Thank you.

[2017-07-03 00:03] impredicative commented on #2
The line `urls = [url for url in self.gen_urls(text)]` can be simplified to `urls = list(self.gen_urls(text))`.

[2017-07-03 11:31] lipoja commented on #2
I think it should be everything that you asked for and suggested in devel branch. If its ok for you like that I will move it to master and upload to pipy.
Thank you.

[2017-07-04 13:36] impredicative commented on #2
I'm reviewing the diff against master, and I see one minor issue. In `docs/index.rst`, "form given" should be "from given".

[2017-07-04 16:28] lipoja commented on #2
Oh no, typo... :] - fixed.
Thank you for consulting and suggesting this feature. I am glad that you are using it and if you want any other feature just open an issue.

_All discussed features are released in version 0.4._

[2017-07-04 16:28] #2 closed

[2017-07-04 17:08] impredicative commented on #2
Works well :+1:

[2017-07-04 17:55] impredicative opened #3 "More efficient use of memory"
urls = list(self.gen_urls(text))
        return urls if not only_unique else list(set(urls))

The above has an issue in that it needlessly creates the initial list even when a set is desired. This can be wasteful of memory. I didn't realize this before, but a better form is:

        urls = self.gen_urls(text)
        urls = set(urls) if only_unique else urls
        return list(urls)

The above f

[2017-07-04 19:21] lipoja commented on #3
Thank you, I fixed it in minor version 0.4.1

[2017-07-04 19:21] #3 closed

[2017-07-10 12:37] bruno-t-de-renzo opened #4 "Leading chars not excluded"
When you have leading chars to the URL, this is not excluded. E.g. "Bla bla 1234|http://www.google.com"

[2017-07-10 13:22] lipoja commented on #4
If there is any new character that should be considered as stop character (URL starts or ends with it) it can be set by you via: ``get_stop_chars()`` and ``set_stop_chars()``.

Example:
[code]

Thank you, I will consider to add '|' as default stop character in new release.

[2017-07-11 06:52] bruno-t-de-renzo commented on #4
Thanks!

[2017-07-11 06:52] #4 closed

[2017-08-14 08:20] birdsarah opened #5 "URL not extracted if `.` at end of url"
Hi! Thanks for an amazing library. I've successfully used it to extract urls from 2400 documents. But there are just a few, where extraction isn't happening.

The following content is similar to many other documents that I've extracted from which is why I was surprised it wasn't working.

Here are some example docs:

https://www.sec.gov/Archives/edgar/data/1636023/000117184317003392/0001171843-17-

[2017-08-14 08:47] lipoja commented on #5
Hi, thank you for reporting this issue. I will have a look on it.

[2017-08-21 20:27] lipoja commented on #5
Hi Sarah, I am sorry for the delay. This issue should be fixed in version 0.5. Could you please try it out. Thank you and have a nice day!

[2017-08-24 19:49] #5 closed

[2017-08-27 15:02] eon01 opened #7 "Considering that a url could contain "@""
Hi,

Are you using a regex for URLs extraction ?

[code]

[2017-08-27 15:11] lipoja commented on #7
Hi,
no, I am not using regexp for URL extraction. But '@' is in my list of "stop characters".
I think that I will change it a bit and I will create two lists of "stop characters" one with chars before and one after TLD.

Thank you for reporting this issue.

[2017-10-24 20:12] lipoja commented on #7
Default settings in version 0.7 should now return URLs containing '@' correctly.

[2017-10-24 20:12] #7 closed

[2017-12-08 00:01] mas-dse-juremigi opened #8 "Python 2 Support"
Is there a python 2 version of this? Would love to use this for a python 2 project I am working on.

Also, are there unit tests? It would be great to see what test cases are used validation.

similar to this:
https://mathiasbynens.be/demo/url-regex

thanks, keep up the great work!

[2017-12-12 07:04] lipoja commented on #8
Hi,
I saw @penafieljlm porting it to 2.7 but I did not use hi version. Maybe he will tell you more about the port. https://github.com/penafieljlm/URLExtract-py2.7

I will make similar tests as you suggested, the table looks good.
To answer your question: I have only few doc tests. I have to create better test cases and unit tests. This is really the thing that I am missing most. (except of time)

[2018-01-29 19:01] LShostenko opened #9 "Wrong result for several urls"
Some links whose domain suffix consists of two parts (eg org.uk, com.au) are duplicated in the result:
[code]

[2018-01-30 14:58] #9 closed

[2018-02-12 18:27] mikebdotorg opened #10 "urlextract does not support IP address based URLs"
[code]

URLs containing IPs instead of hostnames are not extracted.

[2018-02-12 18:29] mikebdotorg opened #11 "urlextract does not have a stdin option"
Most text manipulation tools have the option to work on a file OR from stdin.

stdin is not an option in this tool.

I added a simple CLI option to my version that functioned this way:

[code]

[2018-02-12 19:02] mikebdotorg commented on #10
For the moment I made it work by modifying line 99 in urlextract.py to be:

[code]

[2018-02-12 21:23] lipoja commented on #11
OK, thank you for this input. I will try implement it in next release.

[2018-02-12 21:49] lipoja commented on #10
Yes you are right. The name of tool is misleading. Original purpose of this tool (at least for me) was to extract URLs based on locating TLD in text. It means that extracting URL that does not contain TLD is not yet supported.

I think this is the way in which this tool should improve.
Thank you for the code above - interesting solution.
I will work on it soon.

[2018-02-22 23:11] lipoja commented on #11
Support of sys.stdin as input was added. And will be in version 0.8

[2018-02-22 23:11] #11 closed

[2018-04-06 09:01] de-odex opened #12 "urlextract returns urls starting with ["
![pycharm64_2018-april-06_17 00 54](https://user-images.githubusercontent.com/11498305/38412497-140ca938-39bc-11e8-9449-39a6c3c0ab7d.png)

See image. The url returned contains a [ at the start. I do not know what other information I should add

[2018-04-06 11:04] lipoja commented on #12
Hi,
thank you for reporting this issue. I've added '[' to the list of left stop characters.

But you can set this stop characters to fit your needs by using two methods:
`get_stop_chars_left` and `set_stop_chars_left`

Just have a look to documentation:
https://urlextract.readthedocs.io/en/latest/urlextract.html

[code]

[2018-04-06 11:04] #12 closed

[2018-04-09 05:55] MacBox7 opened #13 "Doesn't checks for valid termination"
For the following input:
[code]
The output generated is:
['http://httpbin.org/status/204,', 'http://httpbin.org/status/204.']

The set `[.,?!-]` are not valid terminal symbols for the url and thus should be checked.

[2018-04-09 06:03] MacBox7 opened #14 "Unable to extract url withing quotes"
Testcase:
[code]
Output:
``['`https://coala.io/200`']``

[2018-04-09 06:05] MacBox7 opened #15 "Doesn't extracts from markdown format properly"
Code:
[code]

Output:
`['[http://httpbin.org/status/200](http://httpbin.org/status/200)', '[http://httpbin.org/status/200](http://httpbin.org/status/200)']
`

[2018-04-09 06:11] lipoja commented on #13
Hi thank you for this note. I will think about it.
First what I thought is that those characters can be at the end of URL if the URL has query part.
`http://example.com/status?bracket=[`
Or am I wrong?
Maybe valid URL should be encoded with % notation but this human readable form of URL you can find in any text.

So it means add more logic and check for these end characters only if the URL does no

[2018-04-09 06:14] MacBox7 commented on #13
Oh [] were just meant to enclose the characters. The invalid symbols are ".,?!-" (Quotes not included). Sorry for the misunderstanding.

[2018-04-09 06:16] lipoja commented on #13
OK, thanks. I will look to all your reported issues.

[2018-04-15 20:34] mrecachinas opened #16 "Doesn't ignore surrounding parentheses"
Consider the case
[code]

I would expect it to return
[code]

This is the same issue as in `jinja2.utils.urlize` (https://github.com/pallets/jinja/issues/827).

See this article by Jeff Atwood on this very topic: https://blog.codinghorror.com/the-problem-with-urls/

[2018-04-16 13:49] fabianskii opened #17 "[Bug] If an url contains an url..."
Hi!

While using the find_urls method I noticed the following:

leads to

`extractor.find_urls("https://bladomain.com/bla/?cid=74530889&h=bladomain.com")`

`['https://bladomain.com/bla/?cid=74530889&h=bladomain.com', 'https://bladomain.com/bla/?cid=74530889&h=bladomain.com']`

is that supposed to happen? :)

[2018-04-19 20:30] lipoja commented on #16
Issue is solved in master branch.

[2018-04-19 20:30] #16 closed

[2018-04-19 20:31] lipoja commented on #15
I've added method for proper parsing of markdown.

[2018-04-19 20:31] #15 closed

[2018-04-19 20:34] lipoja commented on #14
Class is now able to extract URL withing quotes.

[2018-04-19 20:34] #14 closed

[2018-04-21 20:55] psweetma opened #18 "Add ability to read local TLDs file rather than download"
Hi.  Thanks for creating URLExtract.  It works well for me locally, but when I deploy a Flask app that uses URLExtract to AWS ElasticBeanstalk (kind of like a PaaS), I get an error.

The problem is that AWS ElasticBeanstalk implements good web server security practices, which includes making the home directory, and the deployed code's directory, read-only.  They will have done this to make it hard

[2018-04-22 12:15] lipoja commented on #18
Hi,
thank you for describing this use case. I agree with you in some points. For example my use case was to have always up to date list of TLDs. That is why I wanted to download the file and not keeping it in repository.

But I think It is good idea, especially for the testing purposes. I will think about it and do it in some way.

[2018-05-19 18:13] MartinBasti opened #20 "URLExtract installs module "version" out of "urlextract" namespace"
URLExctract installs `version.py` as a separate module out of `urlextract` namespace.
[code]
This is quite unexpected, PIP packages should use namespaces to avoid mixing with other projects. Currently it has conflict with namespace of https://pypi.org/project/version/ project.

Expected is having at least:
[code]
or better
[code]

[2018-05-29 16:55] bleuge opened #21 "[Bug] MemoryError"
I fed it with a 800.000Mb text file and broke with that error. I used -u command also.
Running it in python 3.7 in Win10x64

[2018-08-19 15:54] joaovarelas opened #22 "find_urls method doesn't return anything"
Returns an empty list after I use the method `find_urls`on strings.

[code]

[2018-08-19 15:56] joaovarelas commented on #22
Update: It is working in Python3, indeed.

[2018-08-22 07:56] Lonerider2010 commented on #10
As I had the same problems as @mikebdotorg right now, I would like to support his request.
@mikebdotorg: at which line should I insert your code in the current version? Line 99 seems not to be the correct position.
@lipoja: while looking at the code, I found a typo: in line 115 the comment should read:
        # defining default stop chars right

[2018-08-22 17:13] mikebdotorg commented on #10
@Lonerider2010

[code]

[2018-08-23 05:47] Lonerider2010 commented on #10
@mikebdotorg: thanks for the complete function. So I changed urlextract.py locally and installed it.
When running the function with a text containing an IP-based URL the following error occurred:
Traceback (most recent call last):
  File "/home/user1/workspace/test/test_url.py", line 112, in <module>
    station_list = read_playlist(tv_playlist)
  File "/home/user1/workspace/test/test_url.py", lin

[2018-08-23 18:57] mikebdotorg commented on #10
Sorry @Lonerider2010 - i'm still using a previous version of the code (and uritools) where I don't have this error.  I won't have time to troubleshoot in the near future.

[2018-08-24 14:29] #22 closed

[2018-08-29 12:27] mehrant95 opened #23 "URL surrounded with parenthesis"
Hi there,
I simply tested code below and but surprisingly it returned an empty list:
[code]

[2018-08-29 13:57] akshitSinghal1989 commented on #23
Yes, I too observed the same. And the reason being "enclosures are not in the list of valid tld_after characters". If you have path/query after host (as '/' or '?' are allowed after TLD), it works well. e.g. "(stackoverflow.com\myaccount)"

[2018-08-29 15:24] mehrant95 commented on #23
Any idea how it can be solved?

[2018-08-29 15:45] akshitSinghal1989 commented on #23
Simply adding these enclosure characters to the list of allowed tld_after_chars should work as per the logic. But I haven't tested in code. As per logic enclosures are removed from the uri in the last. I have doubt on situations like "stackoverflow.com)" will be handled or not in this.

[2018-08-29 18:56] lipoja commented on #13
Hi @MacBox7,
sorry for such a big delay :(
Could you please help me wit this issue. Especially with the part where it is defined that I can not use those symbols as termination characters? I've read the [RFC3986](https://tools.ietf.org/html/rfc3986) and I think it is not there specified. Did I missed something.

Because still it looks like I am not able to say from the example above that , or . sh

[2018-08-29 20:17] lipoja commented on #23
Hi, could you please check if code in devel branch is behaving as you need? And does not break anything else ;-)

[2018-09-13 19:09] aeevrubin commented on #23
Hi, I have the same issue, except there is no text that I have used that will cause URLExtract to output a URL including the example in your documentation...

[]

[]

[]

[2018-10-08 07:47] lipoja opened #25 "Temp directory as the 3rd fallback for TLDs cache file"
As suggested by @keyz182 in https://github.com/lipoja/URLExtract/pull/24#issuecomment-427651263 it would be nice to have fallback to temp directory when we are trying to download TLDs to cache file.

[2018-10-10 20:13] lipoja commented on #25
For my use case its OK to have it as second option - replacing home. Maybe its better place than user's home. Its not that persistent (as you mentioned) but it is fine by me.

[2018-10-10 20:54] lipoja commented on #23
It works for me. Closing issue.

[2018-10-10 20:54] #23 closed

[2018-10-19 09:43] adamtimmins opened #27 "[Question] Force urlextract to use proxy"
I'm using urlextract in Jupyter where my scripts has set a custom proxy for connecting to the internet. Setting the proxy up for the requests package is fine by just adding the following:

![image](https://user-images.githubusercontent.com/18688989/47210519-0d308a80-d38b-11e8-9cf9-246f8979127d.png)

Is there anything similar to this in urlextract? Cause right now, when it attempts to download the

[2018-10-19 12:01] Adamtimtim commented on #27
UPDATE: I used a connection without the proxy and still couldn't manage to get the examples to work. So  I deleted the the file .urlextract_tlds

![image](https://user-images.githubusercontent.com/18688989/47216997-c64c9000-d39e-11e8-8862-a09114cbaa23.png)

Re-ran the example, which it downloaded the TLD's. So now the example is working.

However, I still want to know how I can use the package wit

[2018-12-11 07:30] jayvdb commented on #25
Why not keep the files in a cache directory according to https://standards.freedesktop.org/basedir-spec/basedir-spec-latest.html

There are a few packages which provide cross platform-ish xdg support

https://pypi.org/search/?q=xdg

The most commonly used is https://pypi.org/project/appdirs/

[2019-01-05 08:08] jbarlow83 opened #28 "get/set_stop_chars API inconsistency"
`get_stop_chars` returns a `list` but `set_stop_chars` requires a `set` as input.

[2019-01-20 18:48] CLiu13 opened #29 "Release New Version to PyPi"
In light of the latest changes made to this project, would it be possible to release a new version of URLExtract to PyPi? The most recent release on PyPi was on February 24, while there have been several changes made since then.

[2019-01-24 20:48] lipoja commented on #29
wow is it really that long. OK I will have to do something about it. Sorry for not being here because of lack of free time. I will do something about the release.

[2019-02-10 20:52] impredicative commented on #29
@lipoja I'm looking to use this package for a serious new project, so I eagerly hope it can be published to PyPI.

Before you publish, however, please test under Python 3.7 and consider formally noting it in `setup.py`.

Please also set `long_description_content_type` to `text/x-rst` as is documented [here](https://packaging.python.org/guides/making-a-pypi-friendly-readme/?highlight=long_descripti

[2019-02-10 21:01] impredicative commented on #18
I think it's saner for the package to include in it a copy of the file. If the file is very large, it can be stored compressed. It's not a bad idea to just update the package on PyPI every once in a while with the new file.

[2019-02-10 21:03] impredicative commented on #18
Think about the use of the package in a serverless setting where instances can be torn down and recreated on demand from scratch. We wouldn't want the file to be downloaded over and over again for no reason, would be. Similarly, think of build bots that rebuild after each commit.

[2019-02-10 21:05] impredicative commented on #8
Python 2 is less than a year away from being obsolete, so this issue should probably be closed as WONTFIX. A number of leading packages have moved away from Python 2.

[2019-02-11 12:34] lipoja commented on #28
Hi, thanks for reporting.
Those methods are deprecated and will be removed in the feature.
You should use `get_stop_chars_right` and `get_stop_chars_left` They should return set.

[2019-02-11 12:35] #28 closed

[2019-02-13 11:20] #8 closed

[2019-02-14 09:14] lipoja commented on #25
Thank you for pointing it out.
I used appdirs for getting the user's cache dir.

[2019-02-14 13:25] lipoja commented on #20
Thank you for pointing this out. I've returned version numbering back to manual approach for now.

[2019-02-14 13:25] #20 closed

[2019-02-14 13:42] lipoja commented on #18
Thanks for the suggestion, I've added list of TLDs to the package.

[2019-02-14 13:42] #18 closed

[2019-02-16 13:52] lipoja commented on #29
Hi @impredicative I've made some progress this week so I released new version on pipy. Thank you for the hint with ``long_description_content_type``.

---

And I would like to thank to all the people using urlextract, reporting issues, giving me suggestions how to move with this project! I really appreciate it! Thanks.

[2019-02-16 13:52] #29 closed

[2019-02-16 21:51] lipoja commented on #27
Hi, there is no way how to specify proxy for the URLExtract class for now. However Today's release contains already downloaded list of TLDs. So you might not need it with latest version.

[2019-02-16 21:52] lipoja commented on #21
Thanks for reporting this issue, I will have a look on it soon.

[2019-02-19 18:08] thoppe opened #30 "[Bug] ValueError with text from a reference"
What a great library! I'm parsing PDF -> text files from the arXiv and a common motif that crashes the program is shown in this minimal example below:

[code]

with the traceback

[code]

[2019-02-20 22:44] impredicative opened #31 "Guarantee order of returned URLs"
As a user, I find it important that URLs are always returned in the order they exist (or exist first) in the input text.

Using `set()` unfortunately violates this requirement.

https://github.com/lipoja/URLExtract/blob/5bb2f3792ba9a0ea76777f95f6623534bdbe51b1/urlextract/urlextract_core.py#L755

[code]
[This thread](https://stackoverflow.com/questions/480214/how-do-you-remove-duplicates-from-a-lis

[2019-02-21 00:00] impredicative opened #32 "URL returned twice"
A URL was unexpectedly returned twice:

[code]

[2019-02-24 11:19] karlicoss opened #33 "Extraction is not deterministic"
If you run that:

    for _ in {1..100}; do python3 -c 'from urlextract import URLExtract; ex = URLExtract(); print(ex.find_urls(" lesswrong.com, "))'; done

You'd get `['lesswrong.com']` sometimes, and sometimes nothing. This doesn't reproduce if you just call that within python in a loop, so I'd suspect it has to do with python `hash` function changing between interpreter runs.

I'd imagine it w

[2019-02-24 17:00] impredicative commented on #31
@lipoja I hope you can continue to enhance the package. I'm now using it in a [bot](https://github.com/impredicative/irc-url-title-bot) that I built. The bot is live and is relevant to hundreds of users. Thanks.

[2019-02-26 20:59] karlicoss commented on #33
FYI same actually reproduces on existing unit tests if you run many enough times , e.g. `for _ in {1..30}; do py.test-3 tests; done`

[2019-02-26 21:56] karlicoss commented on #32
I think it happens due to duplicate '.com' in the URL, e.g. `site.com/subpath.com` is the minimal example to reproduce

[2019-02-26 22:00] impredicative commented on #32
If a URL is in a larger URL, my ideal requirement is that only the larger URL be returned. The inner one which here is `siliconfilter.com` should then be skipped. This criteria must apply recursively.

[2019-02-26 22:11] karlicoss commented on #13
In the meantime, one can hack it via
[code]
Perhaps sensible default is treating unconventional special characters as forbidden in url and adding a nicer constructor argument to allow to configure that if someone really wants them in URL?

[2019-02-27 11:41] #33 closed

[2019-02-27 11:44] lipoja commented on #32
Thank you for reporting this issue. It looks like it is the same as issue #17 so I am closing this thread because it is duplicate.

[2019-02-27 11:44] #32 closed

[2019-02-27 11:51] lipoja commented on #31
Thank you for reporting the issue. I am really glad that this package finds its users. I will do my best for enhancing it. Unfortunately I am in the middle of changing jobs, so I am lack of free time (for now). But I will do my best.

Or if there is somebody who wants to help with this package - he/she is more than welcome!

[2019-02-27 11:56] lipoja commented on #30
Thank you for using this library. And bigger THANKS for reporting this issue! I will check it and try to fix it soon.

[2019-02-27 12:02] impredicative commented on #17
It should IMHO ideally return the bigger URL only.

[2019-02-27 12:04] lipoja commented on #17
Yes, I agree with you. It should return the longer URL.

[2019-02-28 14:52] dominikstraessle commented on #30
I've got the same issue with the following error message:
[code]
Code:
[code]

I'm using Python 3.6.5 and IPython 6.4.0

[2019-03-03 06:42] warproxxx opened #36 "Getting wrong URL when there is dot before url"
For this text:
`extractor.find_urls("My name is claim...https://t.co/SZlazvFzYx")`

URL extractor returns:
`['claim...https://t.co/SZlazvFzYx']`

[2019-03-03 12:36] lipoja commented on #36
Thanks for reporting this issue. I see the problem but it is not that easy to solve. The main reason is that the string is not typographically correct. There should be space after dot (or three dots).

I will keep it in mind when I make some changes. Honestly, I will try to solve other issues first and then this one.

Or if you have some free time you can send me pull request with a fix. I would a

[2019-03-04 11:16] warproxxx commented on #36
I have very non elegant solution which involves using regex to remove more than 1 dots that occur at the same time. Will this be an alright fix? I will send a pull request if it is

[2019-03-05 21:06] lipoja commented on #36
Well, it depends where does the regexp remove the dots? Just removing of more that two dots in global is not general solution and may give incorrect results.
You have to be sure that you are removing dots which are not part of the URL.

[2019-03-05 22:24] lipoja commented on #31
Again BIG thanks for reporting the issue and also for such a exclusive description with a solution! It should be ready on github (for now). I will make release with some other features (when they are ready) as well.

[2019-03-05 22:24] #31 closed

[2019-03-05 22:28] lipoja commented on #27
@adamtimmins Is a solution that package contains TLDs sufficient (no need to connect to internet) or would you like me to consider the proxy settings?

[2019-03-08 21:15] lipoja commented on #30
@dominikstraessle Hi, could tell me what version of urlextract are you using? I can not reproduce your error with the provided text and current version (0.9) of urlextract.

[2019-03-10 14:21] lipoja commented on #30
Issue should be fixed, I've added both text to tests files.

@thoppe Right now urlextract does not return text "et.al.[10]" as URL. If you are parsing something specific you might use your own settings that fit your needs. For example by setting the stop characters using `set_stop_chars_right` and `set_stop_chars_left`.

[2019-03-10 14:21] #30 closed

[2019-03-10 14:30] thoppe commented on #30
Awesome! I don't need it to parse as a URL, just have it not crash. It's
actually a marker for a reference in an academic paper so missing it is the
correct action.

On Sun, Mar 10, 2019, 10:21 AM Jan Lipovský <notifications@github.com>
wrote:

[2019-03-13 20:10] impredicative opened #37 "Email addresses are detected as URLs"
Individual email addresses are detected as URLs. For example:

* abuse@facebook.com
* test@test.com

Email addresses should not be classified as URLs. Thanks.

----
For anyone else who runs into this issue, for now I'm using an oversimplified regex to approximately filter out such values:

    urls = [url for url in urls if not re.fullmatch(r'[^@]+@[^@]+\.[^@]+', url)]

[2019-03-14 08:28] garrit-schroeder commented on #37
Thanks for the workaround!

+1

[2019-03-14 11:23] lipoja commented on #37
Hi,
but I think that the mail is valid URL at least according to [RFC1738](https://tools.ietf.org/html/rfc1738). Where URL consists of `<scheme>://<user>:<password>@<host>:<port>/<url-path>` Some or all of the parts `"<user>:<password>@"`, `":<password>"`, `":<port>"`, and `"/<url-path>"` may be excluded.

Because you can have `ftp://login@server.com` as a valid URL therefore I removed '@' from de

[2019-03-14 14:46] impredicative commented on #37
I acknowledge that `ftp://login@server.com` is a valid URL.

I don't see how `login@server.com` is valid because most URLs are typically interpreted by other applications as having a scheme of `https` or `http`, not `ftp`. In theory there could be an application that interprets it has having the `ftp` scheme, but the odds of it are low.

I suspect that at least 9 out of 10 users who see an email a

[2019-03-14 22:40] lipoja commented on #17
This issue should be fixed. The longest URL containing all other URLs is returned.

[2019-03-14 22:40] #17 closed

[2019-03-14 22:47] impredicative commented on #17
That's great. Looking forward to a merge into `master` and a new release.

[2019-03-20 23:55] jonasengelmann opened #38 "Trailing enclosure characters not always excluded"
I have a case where a trailing character is not excluded like expected:

`extractor.find_urls(r"{\url{http://www.google.com}}")`
returns `['http://www.google.com']`

`extractor.find_urls(r"{\url{http://www.google.com/file.pdf}}")`
returns `['http://www.google.com/file.pdf}']`

I am running version 0.10.

[2019-03-27 14:39] impredicative opened #39 "Incomplete URL extracted"
An incomplete URL was extracted from a larger string. Here is the minimal code:

[code]
I would like for the full URL to have been extracted instead. I don't see why it should stop after `'`. Thanks.

[2019-04-16 16:35] iamtodor commented on #37
I decided to do email extraction right before URL extraction:
`re.sub(r'[\w.-]+@[\w.-]+\.?\w+', ' isemail ', remove_url)`,

[2019-04-16 16:39] iamtodor opened #40 "list of url exception"
Hello! Is there a way to make some list of URL exceptions? For example, I consider `youtube.com/channel/UC22n-g_flDuGDvUgFPkAgIw` as URL, but `asp.net` I don't want to be detected as a URL. Is it possible to achieve?

[2019-04-18 11:26] lipoja commented on #40
Hi,
well not right now with use of urlextract. The easiest way is to remove it from the list of URLs that is extracted by yourself. Because it is exactly what I would have to implement in the urlextract. Check every extracted URL and see if it is `asp.net` or if is sub-domain of that.

Different request would be not detect `.net` or `.com`. For this case I would suggest to give urlextract you own

[2019-04-18 14:20] iamtodor commented on #40
@lipoja yes, I just implemented this item checking by my own.
If I understand you right not exactly: I don't want `asp.net` to be detected as url, therefore, I want to leave it in my text, but any other urls remove from the text.

[2019-05-14 20:11] lipoja commented on #39
Tricky question,
there has to be add more logic for the parsing to fix this issue. Because right now there is no check if the text was given in single quotes or not. And I was wrong when I set `'` as stop character.

I was assuming that `'` can appear only when there is code like:
`<a src='http://example.com/'>example</a>`

[2019-05-16 16:39] supernothing opened #41 "[Bug] IPv4Address object has no attribute split"
## Issue

Ran into this issue when on v0.10 running this over a large sample of strings. I believe it has something to do with having a domain nested in the URL.

[code]

## Steps to reproduce
Below is a minimal test case:

[code]

[2019-05-27 11:13] Larrax opened #42 "Missing URLs using find_urls"
I have run into some text (email spam) that `find_urls` fails to extract all URLs from. Example input:

[code]

There are 12 URLs, but urlextract finds only 7 of them. Found URLs:
[code]
The behavior is really strange. For example, if I remove the following URL from input: `https://content.idassociates.ca/images/shopico_new/spacer.png`, all the remaining 11 URLs are found.
EDIT: Also sorry for not

[2019-05-29 14:15] lipoja commented on #41
Thank you for that detailed report. I will have a look on it.

[2019-05-29 14:17] lipoja commented on #42
Thank you for reporting it, I have to debug it. Right now I can not tell what is causing this issue.

[2019-05-29 14:24] lipoja commented on #37
I am still thinking about this issue and I will take @impredicative's comment/suggestion, that I would not extract emails (URL with `@` sign) when there is no scheme specified. I would try to make it to next release.

[2019-06-06 10:22] lipoja commented on #39
This issue might be solved. It was easy fix at the end, I hope it did not introduce other problems. But my current test cases passed :]

[2019-06-06 10:22] #39 closed

[2019-06-06 10:32] lipoja commented on #27
Closing this issue because urlextract is shipped with downloaded TLDs. Re-open this issue if needed.

[2019-06-06 10:32] #27 closed

[2019-06-08 02:02] impredicative commented on #42
@lipoja Hi, here is a simpler case of a missing URL:

[code]
From the last command above, two URLs were expected, but only one was returned. To get all the URLs, I am having to use a workaround such as the one below:
[code]
Please investigate. Thanks.

[2019-06-08 02:16] impredicative commented on #39
That's nice but I find it's weird to close an issue without issuing a release. I can't really conveniently verify anything if there is no new release. I request that a release be made as soon as an issue is fixed.

[2019-06-13 21:17] lipoja commented on #38
Thanks for reporting this issue.
I fixed parsing of this for case. If you find another wrong behavior or if you need new feature feel free to create another issue.

Thank you!

[2019-06-13 21:17] #38 closed

[2019-06-14 20:49] lipoja commented on #37
Extraction of email addresses is disabled by default since version 0.11. When there is no schema before URI with user info the URL is not returned.

Extraction of email can be turned on by setting:
`extractor = URLExtract(extract_email=True)`
or
`extractor.extract_email = True`

[2019-06-14 20:49] #37 closed

[2019-06-14 20:59] impredicative commented on #37
Thanks. I confirm the change via this test:

[code]

[2019-06-17 20:07] lipoja commented on #42
This issue should be fixed as part of 0.12.0 release

[2019-06-17 20:20] lipoja commented on #40
Hi,
if I implement this list of exceptions does it should be exact match of URL?
For example if you give me ["asp.net"] as exception:
only "asp.net" would be ignored but "http://asp.net/" would be returned?

Or should it be based on domain both string from example would be ignored (not extracted).

Could you help me define its behavior?

[2019-06-17 22:07] impredicative commented on #42
Thanks. I confirm that at least my reported example is fixed with 0.12.0:

[code]

I also tested Larrax's example which too now works.

[2019-06-17 22:09] impredicative commented on #42
@lipoja There is just the issue of the `print` line 624 in `urlextract_core.py`.

[2019-06-18 05:22] lipoja commented on #42
@impredicative Thanks! Forgotten print is removed in 0.12.1.

[2019-06-18 09:39] iamtodor commented on #40
Hello,
I think you are right: I would expect everything starts with `http` to be considered as URL. So despite I have `exceptions=['aps.net']` the following values 'http://asp.net/', 'https://asp.net/', 'www.asp.net/'
are treated as URL

[2019-06-18 18:43] lipoja commented on #40
And what about when you have "asp.net" as exception and there is "blog.asp.net" on the input ... should this domain be printed (extracted - not ignored)?
Based on you example above I would assume that it would be ignored, because asp.net is on the exception list. Same behavior as in your example with www.asp.net. Both www. and blog. are sub-domains.

[2019-06-19 06:25] iamtodor commented on #40
Yes, exception list - exact match, otherwise (substrings) are being detected as URL. Do you think it's a bad idea?

[2019-06-19 20:27] lipoja commented on #42
OK, closing issue. @Larrax can reopen it if some related bug is found.

Thanks @impredicative for testing! I should not do late night releases ...

[2019-06-19 20:27] #42 closed

[2019-06-19 20:35] lipoja commented on #40
I vote for exact match on hostname/domain. Example:
Excluded URL:
- example.com

What will be blocked/not extracted:
- http://example.com
- example.com
- http://example.com:1234/url/path/file.html?query=something#hash

What won't be blocked/will be extracted (returned by find_urls):
- http://any.subdomain.example.com:1234/path/file.html?query=something#hashtag
- whatever.example.com
- www.example.

[2019-06-24 07:44] Larrax commented on #36
I have run into many incorrectly extracted URLs because of this issue. What's more, the dot is not the only problem. It's also the at sign, colon, plus, etc. With the following input...

[code]

`find_urls` outputs this list...

[code]
And there might be more.

[2019-06-24 07:52] Larrax opened #43 "Filename extracted as URL"
From the following input (which is a legit archive filename):
[code]
URL is extracted using `find_urls`:
[code]

[2019-08-03 21:25] lipoja commented on #41
This issue is fixed in version 0.13.0

[2019-08-04 21:57] lipoja commented on #10
HI, I am working on a fix for this. I am just curios what is your use case? What should be extracted?
Should IP address without schema, port, path, query, etc. be extracted as well? (e.g. 127.0.0.1)

Or should be extracted only IP addresses containing one or more of these parts: schema, port (not sure), path, query, fragment ... for example:

http://127.0.0.1
127.0.0.1/path
127.0.0.1?query
127.0.0

[2019-08-04 21:59] lipoja commented on #40
OK, I am going to implement the exact match on hostname.

[2019-08-05 03:33] mikebdotorg commented on #10
My use case is extract the entire URL.  Specifically I use it to find URLs inside email and social media to check them for malware.

[2019-08-08 01:44] warezers commented on #41
I updated version 0.13.0 but I get the same error
[code]

[code]

[2019-08-08 04:47] lipoja commented on #41
@warezers Could you double check that you are running version 0.13.0? Because from the Traceback I see that it failed on line 483 on host.split('.'). But in latest version the line 483 is empty.

[2019-08-19 07:05] warezers commented on #41
@lipoja yes, new update version is working
thank you

[2019-08-19 07:12] #41 closed

[2019-08-23 07:43] roniemartinez commented on #25
@lipoja

Trying to reopen an old ticket since there is a permission error on this implementation.

This line throws permission error when there is not enough privilege (tested in Linux):
https://github.com/lipoja/URLExtract/blob/master/urlextract/cachefile.py#L113

Write permission should be checked first before creating the cache directory.

Thanks!

[2019-10-07 11:15] voldmar commented on #43
`.zip` is the valid TLD, according to [public suffix list](https://publicsuffix.org/list/public_suffix_list.dat). But the comma should not be the the part of domain I guess

[2019-10-25 19:48] lipoja opened #45 "Support of detecting localhost URLs"
@lipoja it would also be great if `http://localhost` can be detected

_Originally posted by @infokiller in https://github.com/lipoja/URLExtract/issues/10#issuecomment-546358120_

[2019-10-25 19:48] lipoja commented on #10
@infokiller I will extract this request to separate issue. Because `localhost` is not IP address.

[2019-10-25 19:59] #10 closed

[2019-10-26 11:05] gleb270 commented on #43
#47 fixed

[2019-10-26 11:23] lipoja commented on #43
First of all thank you for your time working on the patch. However I am not quite sure about the fix, please have a look on my comment:  https://github.com/lipoja/URLExtract/pull/47#issuecomment-546593936

And lets discuss this topic a bit maybe we can agree on something.
Thank you!

[2019-10-27 18:21] kristiansvenssonsweco opened #49 "&amp; problem"
This URL is getting chopped of:
https://secure.webforum.com/fut/projects/documents?dfRefID=64282&amp;ProjectID=48830

to this after running it through find_urls:
https://secure.webforum.com/fut/projects/documents?dfRefID=64282&amp

Is this by design? Meaning that I should always unescape any strings before running URLExtract?

[2019-10-27 18:33] lipoja commented on #49
Thank you for reporting this issue. Unfortunately yes, it is there by design. It is extracting URL checking character on left and on right side of TLD if they match with any of "stop characters". And ';' is one of them. If you want to exclude ';' you can do it by setting your own set of stop characters via [get_stop_chars_right()](https://urlextract.readthedocs.io/en/latest/urlextract.html#urlextr

[2019-10-27 18:56] lipoja opened #50 "Support of config file"
It would be good if urlextract cli could load some configuration from config file.
Where could be set all currently supported set methods e.g. set stop characters (left, right), email extraction.

[2019-10-27 18:56] lipoja commented on #25
This reopened issue should be fixed in v0.14.0.

[2019-10-27 18:56] #25 closed

[2019-10-28 08:25] lipoja commented on #40
urlextract now (from v0.14.0) supports ignore URL list.
URLs on this ignore lists are matched using exact match as mentioned above.

[2019-10-28 08:25] #40 closed

[2019-10-29 13:23] Phantomdft opened #51 "[Bug] Wrong with python2"
URLExtract/urlextract/cachefile.py
line:14 import urllib.request
urllib.request is not support for python2 .

[2019-10-29 13:28] lipoja commented on #51
Officical urlextract does not support Python 2 and never will be. Since Python 2 is reaching end of life in 2 Months 2 Days and 9 hours.

[2019-10-29 13:28] #51 closed

[2019-10-29 13:44] kristiansvenssonsweco commented on #49
Thanks!
I solved it by using
`html.unescape(str)`

However you methods would probably work just as good!

[2019-10-29 13:44] #49 closed

[2019-10-30 05:35] Phantomdft opened #52 "[Bug] Wrong with url endswith tld"
for example: http://107.174.47.156/mr.sh ( The url is malicious，be careful).
This url will be  considered  as a url with domain,but  in urlextract_core.py line 530, the host is ipv4, and 'IPv4Address' object has no attribute 'split',will raise the exception.

[2019-10-30 08:12] Phantomdft commented on #52
oh, I see. there is another bug  lead to this happen.
In urlextract_core.py line 636: self._tlds_re.findall(text)  when the tld was be matched ,the tld will be .1(It should be .174)
The most convenient way i found is to reverse the _ipv4_tld list :
In urlextract_core.py line 65:
    before: _ipv4_tld = ['.{}'.format(ip) for ip in range(256)]
    _ipv4_tld = ['.{}'.format(ip) for ip in range(255,-1

[2019-10-31 15:49] lipoja commented on #52
Thank you for your time, reporting and also suggesting the patch.
It will be fixed in next release (probably tomorrow).

[2019-11-14 07:02] #52 closed

[2019-11-26 23:57] supernothing opened #55 "Race condition in cache loading"
Appreciate your work on this library! When using `urlextract` in a concurrent environment, I encountered a race condition when loading the cache file. As a simple test case:

[code]

In my environment, this results in:

[code]

I'm not sure if `urlextract` is meant to be concurrency-safe, but if so, maybe using something like [filelock](https://pypi.org/project/filelock/) would be appropriate here

[2019-12-02 13:31] lipoja commented on #55
Thanks for reporting this issue. I really appreciate your time spending on this report and also on the fix. I will have deeper look on the PR this evening or tomorrow morning.

Thank you!

[2019-12-02 18:02] larryrodrigues opened #57 "'IPv4Address' object has no attribute 'split' v 0.14"
If the tld has a value, then the line 524 test returns false.

[2019-12-02 20:20] lipoja commented on #57
Thanks for reporting! I have just one additional request: Could you be more specific? Maybe give me some example of input text which causes the Traceback.
Thank you!

[2019-12-02 20:49] larryrodrigues commented on #57
Sorry. I meant to type more, but my session crashed.  Essentially, running any address where host is an IP, but the url ends with an extension, causes the TLD test to fail. For example http://1.2.3.4/struts_action.do  . The tld matcher thinks that ".do" is the tld, and that is not a valid ip4TLD, so the IPv4 host test is skipped.  Also, it may be worthwhile to wrap the "host.split" in an exception

[2019-12-02 21:53] lipoja commented on #55
I am not able to reproduce it now. I will try that tomorrow on another machine.

[2019-12-02 22:33] supernothing commented on #55
Interesting, I'm not able to reproduce locally now either. Apologies for the bad reproducer.

Perhaps I should add more details on this issue: I started encountering it about a week ago in a service that loads and instantiates this module in multiple processes, similar to the non-working reproduction script. This code had worked previously, but had recently increased the number of processes. I cou

[2019-12-02 23:10] supernothing commented on #55
Having dug a little more, the race just has a fairly tight window given the small size of the file and the default buffer size of 8192 bytes. I'm not sure why it suddenly became likely to happen for me last week. This diff on master will help reproduce, but in the absence of a race should have had no effect other than speed:

[code]

With a single thread, this executes fine, but with multiple thre

[2019-12-02 23:38] supernothing commented on #55
In addition to the exceptions, the much more common case is it returning an invalid TLD list. My guess is that, just by chance, the default buffer size caused the file to get cut off in a place that would cause an exception. This silent-failure behavior can be reproduced without the above diff:

[code]

[2020-01-26 15:11] dmascialino commented on #45
I added this feature in #59 .

[2020-01-31 09:50] zsavvas commented on #57
Same issue here. Downgrading to v0.13 seems to solve the issue

[2020-01-31 14:33] lipoja commented on #45
@dmascialino Thanks for your time and the patch.

Could you help me answer this question:
Should we extract word `localhost` when it is in text alone?

My thoughts are when you want to try extract something from text about computers and networks you will have lot of `localhost` words in text.

Would not be more better to extract URL with localhost when there is more than just a `localhost`? For ex

[2020-02-03 18:36] jayvdb commented on #57
Also encountered this in `_is_domain_valid(url='http://172.17.23.152:8080/kom/kom/userLogin/loginall.do', tld='.do')` at

[code]

[2020-02-05 15:24] dmascialino commented on #45
Good question, I found a similar issue reading links from documentation like https://socket.io/docs/ , where `socket.io` appears a lot of times but not with an URL meaning.

I think it's ok to return `localhost` as an URL and let the user decide if it's useful.

[2020-02-06 08:51] ishanbhagawati opened #61 "None of the cache directory is writable"
We are using URLExtract in one of our python projects. The python script works fine locally but when uploaded as AWS lambda the script fails as none of the cache directories is writable.

Ideally, there should have been a way to provide the cache directory path as a URL parameter in the URLExtract constructor itself and the default should be whatever is currently

[2020-02-06 08:58] lipoja commented on #61
Hi, thanks for reporting this issue. OK there is option for setting up this directory when you are using the class it self within your python code. I missed this and forget to add this feature as parameter to the `urlextract` command.

Thanks!

[2020-02-06 09:21] ishanbhagawati commented on #61
@lipoja do you mind sharing how to do it in python code as I saw in code URLExtract takes a CacheFile type argument

[2020-02-06 09:27] lipoja commented on #61
It can be set during object initialization: `extractor = URLExtract(cache_dir='/path/to/cache')`

[2020-02-18 20:36] B16f00t commented on #61
I am developing a tool, I use pyinstaller, with the noconsole option and it gives cache problems.
I use "extractor = URLExtract(cache_dir=''D:\temp')"
but it seems like no such path is established

[2020-02-20 14:53] lipoja commented on #61
@B16f00t Does it crash? Is there any error message shown? Or it just does not work at all?

[2020-02-21 18:07] B16f00t commented on #61
My code:
        from urlextract import URLExtract
        try:
            extractor = URLExtract(cache_dir="D:\\")
            urls = extractor.find_urls(text)
            print(urls)

        except Exception as e:
            print(e)
ERROR:
Default cache file does not exist 'C:\Users\B16f00t\AppData\Local\Temp\_MEI102122\urlextract\data\tlds-alpha-by-domain.txt'!

[2020-02-27 18:04] jayvdb opened #62 "HTML character references &foo; are cut at the semi-colon"
A URL containing an XML entity/HTML character reference, such as `http://.../..?foo&bar;baz`, will be cut at the semi-colon.

[2020-03-08 18:16] jayvdb opened #63 "dns_cache"
I've created https://github.com/jayvdb/dns-cache which caches negative responses, which is quite helpful when using the recently added DNS checking in URLExtract.

Should I add `dns_cache` to [`dns_cache_install`](https://github.com/lipoja/URLExtract/blob/1eb9ad5/urlextract/urlextract_core.py#L800)?  Or just mention it in the README for users which want more control?

Also there is a fairly seriou

[2020-03-18 22:15] lipoja commented on #63
If there is possibility to let user chose then we can do it. On the other side if your solution supports caching of negative responses and current one does not. Then I would go with your dns_cache.

Could you improve the logging as you are suggesting, please? It might be helpful for users when they will be debugging the code.

[2020-03-18 23:15] lipoja commented on #57
Thanks for the reports, bug should be fixed in next release.

[2020-03-18 23:15] #57 closed

[2020-03-20 16:50] Phantomdft opened #64 "[bug] get wrong TLD, result in parse failed with("xxx.edu.cn@1.1.1.1")"
First,the Traceback  is
a=extractor.find_urls("http://www.test.edu.cn@8.8.8.8:51733/hn35/")
[code]
My attempt to fix this bug is in urlextract_core.py line 104:

[code]
I remove "." from  ater_tld_chars,and follows is my oppions:

when I trace in the urlextract_core,I find the tld  you search  is the end of domain.(For exmple
the "a.edu.cn " 'tld is cn  whether it 's edu.cn in tldextract.)
If i un

[2020-03-24 20:54] lipoja commented on #64
Hi, thank you for reporting this issue. I really appreciate your time doing it.
I assume that it is similar to #57 which is already fixed in master branch.

The code that is in master would return:
[code]

[2020-03-24 21:21] lipoja commented on #61
@B16f00t Turn on logging and see if there are any other messages. It looks like the path "D:\\" does not exist, or is not writable for the user.

Let me know if it logs some other errors (or info messages), thanks.

[2020-03-25 03:01] jayvdb commented on #63
Ok, I'll get a PR underway today.

[2020-03-26 05:07] Phantomdft commented on #64
Ok.I got it

[2020-03-26 05:07] #64 closed

[2020-03-26 05:26] Phantomdft commented on #64
print(a) # "[http://www.test.edu.cn@8.8.8.8:51733/hn35/]"  <- this is valid URL

And this is not a valid URL,the host before "@" is actually  auth part of url（scheme:[//authority]path[?query][#fragment]).This host is uint(a) # "[http://www.test.edu.cn@8.8.8.8:51733/hn35/]"  <- this is valid URL

And this is not a valid URL,the host before "@" is actually  auth part of url（scheme:[//authority]path[

[2020-03-27 19:43] lipoja commented on #64
I agree that that the part before @ is used for authentication. But there is nothing invalid on that URL according to RFC. Therefore I've wrote that it is valid URL. And yes I agree, these kind of URL are usually used for phishing or other kind of web threat.

[2020-03-29 04:46] jayvdb commented on #63
https://github.com/lipoja/URLExtract/pull/65 is a first cut of showing that negative hits are cached.

[2020-03-29 06:10] jayvdb commented on #63
btw, dns-cache was built for https://github.com/jayvdb/pypidb , where I am also using urlextract ; the test suite is processing a huge dataset, and exposes quite a lot of potential improvements with urlextract.

[2020-04-04 12:06] oxozle opened #66 "Not found ULR (stop char missing)"
If there is no valid left stop char and there is no space in string valid url not found.
Example string:
`スマホの方はこちらをクリック➡https://line.me/R/ti/p/%40pnd3781y`

[2020-04-04 19:28] lipoja commented on #66
Thank you for your time and reporting this issue. I really appreciate it.
I am thinking about it and I am not sure how to solve it. Do you have any suggestion?

This library is not able to cover all possibilities. I am trying to make compromise in a lot of thinks which are set as default. However I am always thinking about usability and therefore I it has methods such as `set_stop_chars_left()`. I

[2020-04-04 20:27] lipoja commented on #63
Yeah, I've already check that. Interesting project. I am glad that this small library could be part of it :)
Let's file new issues for all improvements.

[2020-04-04 22:50] #45 closed

[2020-04-05 00:29] jayvdb opened #67 "VCS/Git remote URLs not found"
`git@github.com:snowplow/snowplow-python-tracker.git` is not found

This can be found at https://pypi.org/project/minimal-snowplow-tracker/

[code]

A good list of sample VCS links can be found at
https://github.com/coala/git-url-parse/blob/master/test/conftest.py

[2020-04-05 01:03] jayvdb commented on #67
Also worth noting that pip VCS branch support `@` causes no result if there is no path

[code]

[2020-04-05 01:28] jayvdb opened #68 "pypidb issues"
Continuing from #63 , these are the known issues (list will grow).

As a general rule, the higher priority issues are where urlextract doesnt extract valuable urls, or extracts truncated urls.  Returning extra junk around urls or extra urls is problematic, but I can trim/remove junk.  I cant fix data I dont have.

- https://github.com/lipoja/URLExtract/issues/62 (high priority bug)
- https://githu

[2020-04-05 01:56] jayvdb opened #69 "Maximum results"
Parsing https://msgpack.org/ is very expensive, esp when DNS checking is enabled.

One way to avoid DOS is to limit the number of results.  The caller could do this themselves by using `gen_urls` and manually building a result dict and stopping at a limit they define.

However, default operation should behave in a sane manner.  I suggest having a high limit to `find_urls`, after which an error is

[2020-04-05 02:27] jayvdb commented on #63
I've started that with https://github.com/lipoja/URLExtract/issues/68 , but those are less about the DNS aspects.  To see DNS issues, actually it would be helpful to add some optional mechanism for URLExtract to keep a list of rejected URLs/domains, so that I can then easily review those in my test suite, highlighting any which might be solvable earlier in URLExtract to reduce the DNS hits.

Curre

[2020-04-05 03:57] jayvdb commented on #62
Another is `&#39;` in https://docs.red-dove.com/cfg/python.html

[2020-04-05 09:28] jayvdb commented on #69
e.g.
[code]

[2020-04-05 17:42] jayvdb commented on #63
config: `e.target` is *really* common
[code]

geoip
[code]

[2020-04-13 09:00] jayvdb commented on #62
It might useful to have the caller inform the parser what type of text is being provided, such as html, xml, md, rst, which give clues to the parser when it is trying to find the start and end of urls, and what decoding to perform on the url.

Or have a hook in the class which is given the location of the hostname, so the hook can decide the start and end of the url which surrounds the hostname.

[2020-06-20 22:12] lipoja commented on #69
This limit was implemented and should be in latest release.

[2020-06-20 22:12] #69 closed

[2020-06-30 21:11] #55 closed

[2020-07-14 02:50] beanbean0113 commented on #61
Hi @lipoja, I have the same issue. The script when uploaded as AWS lambda, the script fails.
I init the UrlExtract with a cache_dir. However, we get the error log "None of cache directories is writable."

It seems we set the "cache_dir" in the initialization step. But the "cache_dir" wasn't given in `_get_cache_lock_file_path()`.
For example,
[code]

`with filelock.FileLock(self._get_cache_lock_fi

[2020-08-22 21:31] javad94 opened #71 "Indexes of found URLs"
Any plan to include indexes of found URLs?
Something like:
input: `"Let's have URL example.com"`
output: `[('example.com', (15, 26))]`

[2020-08-25 18:05] bmfirst opened #72 "SyntaxError: (unicode error)"
Hi Jan,

Please help, when i add input file in the path, i get

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \UXXXXXXXX escape

from urlextract import URLExtract

extractor = URLExtract()
urls = extractor.find_urls('C:\path\test1.txt')
print(urls) # prints: ['janlipovsky.cz']

I would like to extract urls from text file containing  Unicode charac

[2020-08-25 21:00] lipoja commented on #72
Hi @bmfirst,
it does not work as you are using it.
`urls = extractor.find_urls('C:\path\test1.txt')` This line of code tries to find URLs in text "'C:\path\test1.txt'" and not in the file.
If you want to extract URLs from file you could use the command line version to just extract it from text (try running `urlextract C:\path\test1.txt` in terminal). But to be hones I did not test it on Windows.

[2020-08-26 13:10] BenoitTS commented on #71
+1
That would be very useful so as to filter out URLs from input string.

[2020-08-26 20:50] bmfirst commented on #72
Hi Jan, thank you very much for fast reply :)

Please note i did run the command in Python but i got error:
 File "<stdin>", line 1
SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \UXXXXXXXX escape

Also, is it possible to print urls to output file?

Regards

[2020-08-26 21:08] lipoja commented on #72
Hi @bmfirst ,
I google the error and it might be because of string notation for path. See https://stackoverflow.com/questions/37400974/unicode-error-unicodeescape-codec-cant-decode-bytes-in-position-2-3-trunca

So I would suggest to try it out:
[code]

or other version `open("C:/path/test1.txt")` or  `open("C:\\path\\test1.txt")`. As I said before, I don't have place where to try it out. I stopped

[2020-08-28 21:19] lipoja opened #75 "Failing DNS tests"
Tests are failing due to DNS check.

Hello @jayvdb, do you think you could have a quick look on those failing tests? I am not sure why it behaves differently now.

Thank you,
Jan

[2020-08-29 20:17] lipoja commented on #71
Thanks @BenoitTS for implementation. It will be part of next release.

[2020-08-29 20:17] #71 closed

[2020-08-29 20:19] lipoja commented on #72
If you have any other issues with URLExtract feel free to reopen this issue or create new one.
Good luck with coding.

[2020-08-29 20:19] #72 closed

[2020-08-29 21:18] javad94 commented on #71
Thanks @BenoitTS, really appreciate it.

[2020-09-01 08:45] philshem opened #76 "Case sensitivity in detecting URLs"
I know it's a [hot issue](https://stackoverflow.com/a/7996997/2327328), but practically the domain part of web URLs are case insensitive.

See this [answer to the same question](https://stackoverflow.com/a/17113291/2327328), which points out that the domain at least is case insensitive, and the rest of what is sent to the server is not. https://tools.ietf.org/html/rfc4343

For that reason, my expe

[2020-09-01 09:31] lipoja commented on #76
Thank you @philshem, this is good suggestion.
I agree that it should be case insensitive for TLD.

[2020-09-02 23:31] javad94 opened #77 "Parenthesis in found urls"
Hi, there is a bug in the case of URLs  that ending with a slash and a parenthesis. So, for example, when we have a string such as:
`some_str = "some string with urls (example.com)"`
or
`some_str = "some string with urls ( example.com)"`
The result would be:
`['example.com']`
Which is correct. But when we have a string such as:
`some_str = "some string with urls ( example.com/somepath)"`
The resul

[2020-09-07 07:30] lipoja commented on #77
Hi @javad94,
thank you for reporting this issue.

[2020-10-03 11:50] lipoja commented on #75
This does not happen with latest version of dns-cache.

[2020-10-03 11:50] #75 closed

[2020-10-03 11:57] lipoja commented on #66
@oxozle Is it OK for you to use internal methods to set your own stop characters based on the page you are parsing?
I still did not came up with any general solution.

[2020-10-03 20:32] lipoja commented on #76
Searching for TLDs will be case insensitive in next release.

[2020-10-03 20:32] #76 closed

[2020-10-04 07:32] lipoja commented on #77
This issue will be fixed in next release.

[2020-10-04 07:32] #77 closed

[2020-12-08 11:43] lipoja commented on #66
@oxozle I do not have any reply for 2 months. I am closing this issue since I think method `set_stop_chars_left()` can be used  to solve this issue.

Feel free to reopen it any time.

[2020-12-08 11:43] #66 closed

[2021-01-11 00:57] Ricardolcm888 opened #82 "URL Detection Problem"
I tried to use the module to detect a link in the following string.

[code]

but it failed to detect that there is a url.

[2021-01-11 11:02] lipoja commented on #82
Hi @Ricardolcm888 thanks for reporting it.
However this is not an easily fixed issue. The text is not typographically correct, there should be space after the first colon sign: `Link: https://example.com` And yeah I know - internet is full of these mistakes and typos.
Is it possible for you to somehow pre-process the text?

I will think about it, however right now I do not see any general solution

[2021-03-09 05:05] RickMeasham commented on #61
Hi @lipoja, is there a fix for this yet? There's a `fix_cache` branch that appears to be aimed at fixing this issue.

Below are my observations before I saw that branch ...

There appear to be two intermingled issues here:
1. Setting `cache_dir` is only used for the cache file and not the lock file
2. When using the default list provided with the distribution, we still attempt to lock the file. An

[2021-03-09 05:18] RickMeasham commented on #61
Case in point why we should not be modifying a distributed file:

[code]

[2021-03-09 05:58] RickMeasham commented on #61
I've grabbed the `fix_cache` branch, but when the cache file is not available in the `cache_dir`, calling `update()` attempts to update the default file.  To fix this for now, I'm generating an empty file before initialising the extractor, then calling update if the file is empty. This hack works even when the module is in a Lambda layer.

[code]

[2021-04-01 23:01] dfrankow opened #84 "Best practices for using a URLExtract object for speed?"
I am using this object in a Django request to parse several URLs. I think it's slowing down my requests significantly.

The "Profile" tab of django debug toolbar for processing 9 strings:

![image](https://user-images.githubusercontent.com/34655/113362462-0c4e0200-9314-11eb-8e6d-7dc16a53fb39.png)

I'm instantiating URLExtract once per string, which is likely wasteful.

I think I could instantiate

[2021-04-01 23:12] dfrankow commented on #84
To be clear, if it's safe, the very easiest thing is one per process:

[code]

I'm trying to understand if I can do that, or if that would have weird failure modes.

For example, if I ever use Django async or have multiple events going on, if that would get wacky.

[2021-04-01 23:14] dfrankow commented on #84
Another way to put it is: does find_urls change any object state? If it doesn't, then I'm golden.

[2021-04-08 19:44] lipoja commented on #84
Hello @dfrankow, thank you for your question and sorry for my late answer :)

Method `find_urls` does not change anything in object. I think it should be safe to instantiate it just once. At least that is how I am using it. I have one instance that is configured (specific stop characters) and then I just call `find_urls` with input string.

However I do not use it from multiple threads/processes.

[2021-04-08 19:49] lipoja commented on #84
Only methods starting with `set_`, `remove_enclosure`, `add_enclosure`, `update`, `update_when_older` and properties `ignore_list`, `extract_localhost`, `extract_email` change the object.

[2021-04-08 22:24] dfrankow commented on #84
Thanks for the info!

I am pretty sure if find_urls and has_urls do not modify, then I'm safe. I am not sure what more certainty to gain (other than maybe writing multi-threaded tests), so I'll close this.

[2021-04-08 22:24] #84 closed

[2021-05-09 23:24] paulfdietrich commented on #61
Any update on this bug?  Would love the use this in AWS. Are folks just using a package from the fix_cache branch with Ricks work-around?  Is there a way to PIP install that branch?

[2021-05-10 00:44] RickMeasham commented on #61
@paulfdietrich said:

You can use this, but I'm not going to be tracking any changes to the official repo. Caveat emptor.
[code]

[2021-05-10 20:45] lipoja commented on #61
Hi, thank you both for your patience and also for time spend on reporting this issue.
I've modified the code in `fix_cache` branch, could you check if it is working for you? It is getting late and do not have "the non working" environment handy.

I kept the solution that was in the `fix_cache` branch and I've tried to fix the issue with non existing file.

Thank you!

[2021-06-12 21:00] lipoja commented on #61
This fix is released on pypi. If somebody has a chance to run it on aws it would be graet.
Thanks

[2021-06-16 13:13] nicolasassi commented on #36
Any updates on that matter?

[2021-06-16 13:23] lipoja commented on #36
@nicolasassi Not right now.
I do not have clean solution for it now. It might be due to lack of free time that I can spend on urlextract.

However if somebody has an idea how to solve this issue properly then feel free to start a discussion or create PR to discuss the actual code.

----

@nicolasassi what I am referring to is that I do not have good way how to determine when the domain starts when

[2021-06-16 13:37] nicolasassi commented on #36
This is a trick problem indeed... In my opinion pre-process the text or use `set_stop_chars_left()` kind of defeats the porpouse of the lib. What do you think?

I'm gonna put thought on this problem... maybe we can find way to fix that in the parser.

[2021-06-16 14:01] lipoja commented on #36
I am looking on this library as a tool that will return you as much domains as it founds even when they are "wrong" and there needs to be some post-processing.

We are trying to cover all general issues without limiting the number of returned results. Of course the results should be correct if possible. But I would rather return this domain that contains other text (e.g. website+www.example.com) r

[2021-06-16 14:17] nicolasassi opened #91 "check dns concurrently to speed up lookup"
Is there any room to check dns concurrently as it might be a time consuming task? I've found some hacky ways to do that, but maybe it could be a flag on `find_urls`.
I'm aware this would increase the complexity of this function a lot.

[2021-06-16 14:26] lipoja commented on #91
I would like to invite @jayvdb to this conversation, since he is the one who implemented DNS checking.

[2021-06-16 21:54] jayvdb commented on #91
Sounds like a great idea, and should complement caching nicely.  Also `pebble` seems like a good choice.

[2021-06-17 16:49] nicolasassi commented on #91
I was studying the code to find a way to achive concurrency in the dns lookup. But I kind got stuck because I seems that there's a cursor in `_complete_url` which depends on the result of each interation before going to a new possible URL. So it would need to be a synchronous process. What do you guys think?

[2021-06-17 19:53] lipoja commented on #91
I believe synchronous process for checking domain is already in place. That is the current behavior, right?

I am thinking about keep checking DNS the way it is now for `gen_urls()`. I mean: when user calls this directly with check_dns enabled. We do not modify this part and every domain is check right after it is discovered (completed).

We could modify `find_urls()`. When user call this method i

[2021-06-17 19:56] lipoja commented on #91
Second thing is that this brings complexity to user settings. We should allow users to set maximum number of concurrent processes/threads. Probably also set of timeout value. And maybe other things that I am not aware of right now.

[2021-06-17 20:08] nicolasassi commented on #91
Great! I was thinking of adding concurrency in the `gen_urls()` and give user option from the functions above it.
Achieve concurrency in the way you metioned would be a lot easier. Gonna work on that.

[2021-06-18 06:34] lipoja commented on #91
OK, could you also think about how to do it so we have the code not tangled. For example: If we can separate all DNS checking parts to its own class/module? This is just and idea I did not look to the code how tricky it will be.
Also it would be nice to give user a method that he/she can call when they wants. For example when they use the `gen_urls()` or they do some post process filtering of URLs

[2021-08-22 23:04] akshayanandraut opened #94 "//www.google.com cannot find such type of links"

[2021-08-22 23:09] akshayanandraut commented on #94
trying to fetch all URLs from a html response  and some scripts.src have values like <script src="//www.google.com/somejsfile.js">

These type of links are not identified

In the html world, this format is quite common and is accepted.

I'm not sure if pre-processing the entire response to fix these links to a format identified by the urlextract lib is something I would do since that would mean th

[2021-08-31 15:25] begunrom opened #95 "URL containing space is truncated"
I am extracting url's from mail messages.
If you have a text like
`MESSAGE STATUS CODE:  UNDELIVERY
    LISTEN NOW <http://EXAMPLE.com/.amVucy5iaXJ-some-base64-t3b29sLmNvbQ== #aHR0cHM6Ly9taWNyb3NvZ-something-else-pcmdlcnNzb25Acm9ja3dvb2wuY29t> `

The url is truncated at the '==' because there is a blank between the '==' and the '#aH'

I can remove the space before processing it, but i do not know

[2021-08-31 19:07] lipoja commented on #95
If you know that every email that you are extracting has it this way then you can update stop_left_chars and remove "space" character from the list. So it will stop at ">" sign.  You can use `get_stop_chars_left()` and remove the space char and use `set_stop_chars_left()` to set new the list.

The side effect might be request to different URL. The reason is  when you put this in browser it will be

[2021-09-01 10:04] machinexa2 opened #96 "Option to include uri scheme"
`URLExtract().has_urls('window.google')` gives true. Is it possible to make scheme/netloc = True like
`URLExtract().has_urls('window.google', scheme= True)` so that it should give false but `URLExtract().has_urls('http://window.google')` or `URLExtract().has_urls('ftp://window.google')` should give true

[2021-09-06 07:02] begunrom commented on #95
Thank you for masking the URL, it was indeed phishing.

Since i expect randomly formatted url's, i cannot remove the spaces all the time. So i decided to run the url extraction twice, one with and one without space and compare the results. If the results differ, i know there is a URL inside where i have to add a space. Maybe that could be implemented as a standard way to do extractions?

[2021-10-04 13:28] NeilRiver opened #97 "dont url"
https://sportgyms.ru/

<a href="/index.php?do=feedback">Обратная связь</a>

is not
pls fix

[2021-10-04 13:28] NeilRiver commented on #97
`<a href="/index.php?do=feedback">Обратная связь</a>`

[2021-10-04 21:19] lipoja commented on #94
@akshayanandraut Thank you for reporting this issue.
It should be fixed in next release (probably this week).

[2021-10-05 21:13] #94 closed

[2021-10-06 10:06] lipoja commented on #96
Hi @machinexa2
thank you for this suggestion. I've added `with_schema_only` parameter to all functions so now you can easily filter out any domains without schema by setting this parameter to True.
It will be part of next release.

[2021-10-08 08:09] akshayanandraut commented on #94
Great
Thanks man

On Wed, Oct 6, 2021, 2:43 AM Jan Lipovský ***@***.***> wrote:

[2021-11-11 07:09] za opened #107 "Can't run test code: ModuleNotFoundError: No module named 'platformdirs'"
Refer to the documentation, I can't run the test code. Am I missing something?

[code]

I can import it though via Python shell:
[code]

[2021-11-11 07:45] za commented on #107
It's solved now. I need to remove `.tox` folder.

[code]

[2021-11-11 07:45] #107 closed

[2021-11-11 07:46] lipoja commented on #107
I am glad to hear that you have resolved it.
Maybe running `tox -r` would help as well.

Thanks!

[2021-12-16 16:23] tkrissuu opened #109 "Wrong indices when the domain name contains the same TLD twice"
I am seeing a strange behaviour when finding URLs with indices. It is triggered when the TLD is also present earlier in the domain name. In the example below ".com" appears twice. But it will also fail with e.g. "www.dk-hostmaster.dk".

To reproduce:
[code]
Output is:
`('www.company.com', (8, 23))`

I would have expected:
`('www.company.com', (0, 15))`

[2021-12-20 20:41] lipoja commented on #109
@tkrissuu Thank you for reporting this issue. Nice catch!
I know what is the issue here and I will send fix soon.

[2021-12-21 22:32] #109 closed

[2021-12-22 20:26] lipoja commented on #109
@tkrissuu It should be fixed in v1.5.0.
Thanks!

[2021-12-23 10:47] tkrissuu commented on #109
@lipoja Awesome. Thanks! That was quick.

[2021-12-23 12:02] georgettica opened #113 "add types to urlextract"
I tried on my repo to run `mypy file.py`
https://github.com/python/mypy
[code]

[2021-12-23 19:44] lipoja commented on #113
Hello,
that is because `urlextract` does not support type checking yet.
I am planning to do it, but it is not on high priority list. _# PRs are welcome ;)._

[2021-12-24 00:28] georgettica commented on #113
I'll see how I can learn and contribute.

If you get there before me please note it in this issue?

Thanks in advance and thanks for the warm response :)

[2021-12-24 08:48] lipoja commented on #113
I appreciate any contribution and also reporting any issue.
It keeps me improving this library. And I am glad that there are people using it and also contributing and improving the code.

Let's agree that any of us will write a comment here once we start implementing type hints (mypy support).

Thank you!

[2021-12-24 08:59] lipoja commented on #97
I can not support this. Because the example above is not URL. It is HTML anchor (link). Which can me extracted from HTML site by BeautifullSoup or any other XML parser.

[2021-12-24 08:59] #97 closed

[2022-01-06 04:00] za opened #115 "URLExtract no longer support Python 3.6 because of filelock recent changes"
Hi @lipoja I see this ERROR on my project:
[code]

I suggest we need to show which Python version we support. Currently filelock is dropping support for Python3.6 https://py-filelock.readthedocs.io/en/latest/changelog.html#v3-4-2-2021-12-16

[2022-01-12 07:16] LaundroMat opened #116 "TLD cache filelock error on read-only systems"
I'm trying to use URLExtract in a serverless function, but locking the cached TLD file provokes an error on this read-only system.

[cachefile.py](https://github.com/lipoja/URLExtract/blob/master/urlextract/cachefile.py) tries to lock the file

https://github.com/lipoja/URLExtract/blob/638c0e2d4d8fec077b13b0eefb2c96ffaee112be/urlextract/cachefile.py#L236

but the read-only system won't allow it:

[2022-01-12 07:37] lipoja commented on #116
Thank you @LaundroMat for reporting this issue.
I am sorry but I do not think that there is workaround for this yet. Since I did not encounter this error yet.

Could you send me the Traceback? I am thinking about solution so I would like to know if there is some Python Exception I can catch. I will try to provide a solution for this in next release. Right now I am thinking of adding some flag/para

[2022-01-12 07:43] LaundroMat commented on #116
Thanks for the quick followup!

The full exception is

[code]

[2022-01-12 07:48] lipoja commented on #116
@LaundroMat and would you be OK to use the TLDs which might be not up to date on this read only file system?
If I disable the update it will use the TLDs which were added to the release of urlextract you are using.
Or do you need a way to load up to dayte list of TLDs?

_Note: If you are not looking for URLs with exotic TLDs then you should be fine. Usually only those are removed/added._

[2022-01-12 07:56] LaundroMat commented on #116
Oh, sure, no problem. I'm happy to manually update the file once in a while.

[2022-01-12 08:07] LaundroMat commented on #116
I've been looking through the code, and I believe it's not a problem with updating the file. The issue is that the [_load_cached_tlds function](https://github.com/lipoja/URLExtract/blob/638c0e2d4d8fec077b13b0eefb2c96ffaee112be/urlextract/cachefile.py#L218) tries to get a file lock on the data file in order to read it, and a read-only environment won't allow that.

    def _load_cached_tlds(self):

[2022-01-12 08:24] lipoja commented on #116
Yes I agree. But I do not want to remove the filelock because it prevents other collisions when you run multiple instances of urlextract. It happened that one instance was updating the TLDs (just created a file) and another one read the file in that moment. Which lead to loading empty file (not fully updated yet). So urlextract could not find anything because it did not load any TLDs.

@LaundroMat

[2022-01-12 08:29] LaundroMat commented on #116
As you probably saw, I removed the file lock [in a fork](https://github.com/LaundroMat/URLExtract), and that works in the serverless environment.

I fully understand and agree with the need for the lock, but instances are isolated in my serverless setup, so there's no risk. But of course, serverless is a very specific use-case...

The configurable cache directory is a great addition, but I can't w

[2022-01-12 08:41] lipoja commented on #116
OK, I think I have all the info I need.
I will think about a solution for this.

[2022-01-12 08:45] LaundroMat commented on #116
Just a thought, but maybe adding a flag to download the file and keep it in memory (instead of writing it to a cache) might be a solution too.

[2022-01-12 08:46] lipoja commented on #116
I was thinking about this as well :D

[2022-01-12 08:59] LaundroMat commented on #116
Oh, that's a very good point indeed.
I think for my case (and again, it's a fringe case, so don't prioritize it too much), the ability to save the cache file in a cloud environment (such as S3 or B2) would be ideal then.

[2022-01-20 15:14] tkrissuu opened #117 "Wrong indices with uppercase characters in domain name"
I am getting wrong indices when the domain name of a URL contains uppercase characters.

To reproduce:
[code]
Output is:
[code]

[2022-02-22 15:22] elliotwutingfeng commented on #117
While URI paths can have uppercase characters, [URI schemes are always lowercase](https://en.wikipedia.org/wiki/Uniform_Resource_Identifier#Syntax). I think the problem has to do with the regex expression found in [gen_urls()](https://github.com/lipoja/URLExtract/blob/638c0e2d4d8fec077b13b0eefb2c96ffaee112be/urlextract/urlextract_core.py#L733)

[2022-02-24 08:40] Yossi opened #118 "Passing custom cache_dir doesnt seem to actually save the tlds...txt file in that dir"
`(venv) yossi@ubuntu7:~/testing$ python --version
Python 3.10.2
(venv) yossi@ubuntu7:~/testing$ pip list
Package      Version
------------ -------
filelock     3.6.0
idna         3.3
pip          22.0.3
platformdirs 2.5.1
setuptools   58.1.0
uritools     4.0.0
urlextract   1.5.0
(venv) yossi@ubuntu7:~/testing$ more test.py
from urlextract import URLExtract
import logging
logging.basicConfig(format

[2022-02-28 10:35] larseggert opened #119 "IPv6?"
URLExtract seems to extract literal IPv4 addresses just fine, but not literal IPv6 addresses?

[2022-03-14 02:43] amoldavsky commented on #82
Yes this is in fact a problem

[code]

results in:
[code]

@lipoja RE:
`The text is not typographically correct, there should be space after the first colon sign`
well, what should be and what is, sadly rarely coincide 🤣

I had to fix this for my ML pre-processing, pretty straightforward fix, will submit a PR shortly...

[2022-03-14 03:06] amoldavsky commented on #82
Here is the PR
https://github.com/lipoja/URLExtract/pull/120

@lipoja I would appreciate if you could merge that in and release so I do not have to release a production model off of my code change in a form of a hack in a git branch :)

[2022-03-14 18:30] amoldavsky opened #121 "left walk does not stop on various unicode chars"
[code]

These are not valid URL characters (going to the left)

[2022-03-14 18:35] amoldavsky opened #122 "should not grab email fragments"
[code]

should not be grabbing `@gmail.com` at all

[2022-03-15 09:19] lipoja commented on #82
@amoldavsky Thank you for contributing! Sure I can merge it and release it. But before I do that I would like to discuss with you few of my ideas so we do not break extraction or unintentionally filter out some URLs which would be extracted with current code. Please have a look to your PR.

[2022-03-16 20:09] amoldavsky opened #123 "comma extracted at the end if url ends with comma"
This should not be the case:

[code]

[2022-04-09 04:56] za opened #124 "travis-ci seems no longer active repository"
Hi @lipoja I checked https://travis-ci.org/github/lipoja/URLExtract it seems no longer active repository.

And I see this WARNING:

Can you double check? Thanks!

[2022-04-23 23:26] LaundroMat commented on #18
It's late, so my apologies if I'm overlooking something, but would it be an idea to add a parameter to URLExtract() to make it so it does not need a writeable cache directory?

I'm using URLExtract in an AWS Lambda function and I'm pointing URLExtract to the cache directory:

    URLExtract(cache_dir=Path(f'{os.getenv("LAMBDA_TASK_ROOT")}/urlextract/data'))

which generates an error:

The error is

[2022-05-16 16:58] controldev commented on #123
The same happens with dots (i.e. '.'), which is a relatively frequent error, for example when sentences end with links.

[2022-05-17 18:45] lipoja commented on #124
I do not use Travis CI anymore - we moved to GitHub Actions some time ago.

[2022-05-17 18:46] lipoja commented on #119
@larseggert Hi, you are right, IPv6 is not yet supported.

[2022-05-17 18:57] #124 closed

[2022-05-17 19:05] lipoja commented on #123
@amoldavsky @controldev Hello. Thank you for reporting this issue. I agree that this is not ideal. And I would like to ask you for help in form of discussion because I do not see easy general solution to this problem. What my suggestion would be is postprocessing.

User (in this case you) is the one using this tool. User should know what kind of text is processing. And therefore user can update UR

[2022-05-17 19:28] lipoja commented on #122
@amoldavsky Hi, could you help me here? What should be the expected result?
`['bad.email', 'gmail.com']` or `['bad.email']`

[2022-05-17 20:06] lipoja commented on #95
I think this is specific issue to your case. I think I will not "slow" down the extraction by doing two passes. If it is necessary users can do it by them selves as you did.

However thank you for your time reporting this issue.

[2022-05-17 20:06] #95 closed

[2022-05-18 06:08] za commented on #124
Hi @lipoja I created a PR to update README https://github.com/lipoja/URLExtract/pull/128 #noturgent

[2022-05-19 14:10] gilbd opened #129 "URLExtract() init really slow"
Hi, while trying to use the `URLEextract()` in function to parse a dataframe column, it runs really slow.
Here is my code:
[code]
It takes a long time due to the loading time of the TLDs and the FileLocks.
Maybe you shall convert this object to Singleton?
Another idea is to load the TLDs just once by converting the TLDs object to Singleton.

[2022-06-17 05:24] koliaok opened #130 "ERROR: Can not download list of TLDs. (URLError: [Errno 104] Connection reset by peer)"
code under:
[code]
Library version: urlextract==1.6.0

[2022-06-17 05:44] lipoja commented on #130
Hello @koliaok, I would need more information:
Where are you running the code?
Is the user who is running it able to write to `/tmp`?

[2022-06-17 11:03] praneethpj opened #131 "Does Not extract the URL that is leading special character"
Hi,

I am trying to extract the URL from the following text,
But it is not grabbing the link due to the hyphen.

EncodedText="* test link -https://www.google.com";

extractor = URLExtract()
urls = extractor.find_urls(EncodedText)

print(URLs)

---output
[]

Do you have any idea to fix this?

[2022-10-01 16:23] #113 closed

[2022-10-21 18:17] #131 closed

[2022-10-22 14:45] #122 closed

[2022-10-25 18:38] seanbreckenridge opened #137 "urlextract without authority causes AttributeError"
Hi, ever since 1.7.0 -- in particular it looks like #135, some URLs cause an error since the authority is None:

on 1.6.0:

[code]

(I am not talking about this not finding the URL, just about this throwing an error)

on 1.7.0:

[code]

I believe would need to add a check for `url_parts.authority` to check if its None before checking for `@`?

[2022-10-25 18:54] #137 closed

[2022-10-25 19:07] seanbreckenridge commented on #137
Thanks for the quick fix! Can confirm issue is fixed on 1.7.1

[2022-11-04 11:44] #117 closed

[2022-11-08 07:55] variablenerd opened #142 "Wrong indices and incomplete extraction when string contains similar urls"
Hi, the find_urls() method returns incorrect url indices for the following input - (test_string OR url: https://www.russkiymir.ru/) OR (url: https://russkiymir.ru/en/ OR url: https://www.russkiymir.ru/cn/ OR url: https://www.russkiymir.ru/de/ OR url: 4pt.su)
and it also fails to extract one of the urls (https://www.russkiymir.ru/de/)

To reproduce-

[code]

Output:

[code]

I'm running this with P

[2022-11-30 16:30] Stvad commented on #82
facing the same issue, was curious what is the state of PR for fixing this! :)